<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileBotPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FileBotPP.Properties.Settings>
            <setting name="ProxyServerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowedTypes" serializeAs="String">
                <value>mpg,avi,mkv,mp4</value>
            </setting>
            <setting name="TvdbApiKey" serializeAs="String">
                <value>1B15C109D6C05699</value>
            </setting>
            <setting name="CacheTimeout" serializeAs="String">
                <value>86400</value>
            </setting>
            <setting name="PoorQualityP" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="TorrentPreferredQuality" serializeAs="String">
                <value>720p</value>
            </setting>
            <setting name="FFmpegConvert" serializeAs="String">
                <value />
            </setting>
        </FileBotPP.Properties.Settings>
    </userSettings>
</configuration>